<ais-instantsearch
  [config]="configAlgolia"
>

  <mat-toolbar class="header-title">
    Hiro's Engineer Blog
  </mat-toolbar>
  <mat-toolbar class="second-header-title">
    <button mat-button>Home</button>
    <ais-search-box class="search-box"></ais-search-box>
  </mat-toolbar>


  <ais-stats></ais-stats>

  <h3>Filter by price range:</h3>
  <ais-refinement-list attribute="name"></ais-refinement-list>
  <ais-clear-refinements [autoHideContainer]="true" buttonLabel="Clear filter"></ais-clear-refinements>

  <button mat-button>Click me!</button>

  <ais-hits>
    <ng-template let-hits="hits" let-results="results">
      <!-- Nothing found? -->
      <div *ngIf="hits.length === 0">
        😢 Nothing found for
        <strong>{{results.query}}</strong>.
      </div>

      <div *ngFor="let hit of hits" class="result-card">
        <h2>
          <a [href]="hit.url" target="_blank">
            <ais-highlight attribute="name" [hit]="hit">
            </ais-highlight>
          </a>
        </h2>
        <p>{{ hit.shortDescription }}</p>

        <img [src]="hit.image" alt="{{ hit.name }} thumbnail">

        <p>
          <span class="price">{{ hit.salePrice | currency}}</span>
        </p>
      </div>
    </ng-template>
  </ais-hits>
</ais-instantsearch>
